* {
  box-sizing: border-box;
}


p {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

h2 {
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

form {
  width: 100%;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: center;
  height: auto;
  flex: 1;
}

input:invalid {
  border-color: 2px solid red;
}

input {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input:focus {
  box-shadow: 0 0 5px rgba(46, 122, 120, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(46, 122, 120, 1);
  background-color: #ffffff;
}

.container-img-tablet {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}


label {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  padding: 0px;
  line-height: 22px;
}

label#gender-clothing  {
  padding: 0 10px 0 0;
}

.field,
.actions {
  padding: 10px;
}

input,
textarea {
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
}

input[type="checkbox"],
input[type="radio"]{
  display: inline;
  width: auto;
  margin-right: 7px;
  padding-left: 7px;
}

span {
  text-decoration: underline;
}
button {
  margin-top: 5%;
  float: center;
  width: 100%;
  color: white;
  font-size: 13px;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #444444;
}

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.form {
  width: 100%;
}
  form {
    width: 80%;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 50px;
    padding: 10px;
    justify-content: center;
    order: 2;
}
  .container-img-desktop {
    display: none;
}
  .container-img-tablet {
    height: auto;
    width: 100%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
  form {
    width: 90%;
    /* margin-left: 30px; */
    /* margin-right: 50px; */
    margin-bottom: 50px;
    padding: 10px;
    justify-content: center;
    order: 2;
}
  .container-img-desktop {
    display: none;
}
  .container-img-tablet {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form {
  width: 60%;
}
form {
  width: 80%;
  margin-right: 15px;
  margin-bottom: 50px;
  padding: 10px;
  justify-content: center;
  order: 2;
}
  .container-img-tablet{
    display: none;
  }
  .container-img-desktop {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("6c.jpg");
  }
}
